.AddingContainer {
    width: 95%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.AddingContainer h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #ff5900; 
    outline: none; 
}

.btn {
    width: 100%;
    padding: 10px;
    background-color:teal; 
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: #0056b3; 
    transform: scale(1.05);
}

.message{
    color: green;
    font-weight: 800;
    text-align: center;
    font-size: 20px;
}


@media (max-width: 768px) {
    .AddingContainer {
        padding: 15px;
    }

    .AddingContainer h2 {
        font-size: 1.6rem;
    }

    .form-control {
        font-size: 0.9rem;
    }

    .btn {
        font-size: 1rem;
    }
}
