.updateAddress {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #e7d9d9;
}

.UpdateAddressHeading {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.addressCard {
    border: 1px solid #e95a5a;
    border-radius: 10px; 
    padding: 10px; 
    margin: 10px; 
    background-color: #b9d7dd; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    flex: 0 0 23%; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    box-sizing: border-box; 
}

.cardContent {
    margin-bottom: 10px; 
}

h5 {
    margin: 5px 0; 
    color: #555; 
}

.btn {
    margin: 5px; 
    padding: 5px 8px;
    background-color:Teal; 
    border: none;
    border-radius: 5px; 
    color: rgb(216, 208, 208); 
    font-size: 12px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

.btn:hover {
    background-color: #b38900; 
}

.cardContainer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}

.Update-message{
    text-align: center;
    color: rgb(28, 92, 92);
    font-weight: 800;
    font-size: 20px;
}

.delete-message{
    text-align: center;
    color: rgb(239, 74, 77);
    font-weight: 800;
    font-size: 20px;
}

.edit-address{
    width: 400px;
    margin: auto;
}