
.NavigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; 
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease;
}


.NavigationContainer h2 {
    margin: 0;
    font-size: 2rem;
    color: #007bff; 
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.NavigationContainer h1:hover {
    color: #0056b3; 
    transform: scale(1.1); 
    cursor: pointer;
}
@media (max-width: 768px) {
    .NavigationContainer {
        padding: 8px 15px;
    }

    .NavigationContainer h2 {
        font-size: 1.8rem;
    }
}
